#upload {
    opacity: 0;
    color: var(--primary);
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    color: var(--primary);
}

.about-inputs textarea {
    font-size: 14px;
    height: 100px;
    border: 2px solid var(--primary);
    resize: none
}

.about-inputs textarea:focus {
    box-shadow: none
}

