<section class="p-5" style="background-color:#f2f2f2 ;">
    <div class="container px-5 align-items-center ">
        <div class="row justify-content-center py-4">
            <div class="col-lg-7 text-center">
                <h1 class="info-header mb-5 fw-bold">أطلب بسهولة وأمان</h1>
            </div>
        </div>
        <div class="row px-5 box-container py-3">
            <div class="col-lg-3 col-md-6 text-center px-5">
                <h1 class="fw-bold">
                    <i class='fa-solid fa-calendar-days'></i>
                </h1>
                <h3>إسترح</h3>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <h1 class="fw-bold">
                    <i class='fa-solid fa-calendar-days'></i>
                </h1>
                <h3>تنفيذ الخدمة</h3>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <h1 class="fw-bold">
                    <i class='fa-solid fa-calendar-days'></i>
                </h1>
                <h3>حدد وتأكيد الميعاد</h3>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <h1 class="fw-bold">
                    <i class='fa-solid fa-calendar-days'></i>
                </h1>
                <h3>إختر الخدمة</h3>
            </div>
        </div>
    </div>
</section>

<section class="info">
    <div class="shadow">
        <div class="container py-5 text-white">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center py-4">
                    <h1 class="info-header fw-bold">
                        أكبر سوق للخدمات تثق فيه
                    </h1>
                </div>
            </div>
            <div class="row py-5">
                <div class="col-lg-4 col-md-12 text-center py-2">
                    <h1>445046</h1>
                    <h3>تحميل تطبيق</h3>
                </div>
                <div class="col-lg-4 col-md-12 text-center py-2">
                    <h1>450026</h1>
                    <h3>عملاء سعداء</h3>
                </div>
                <div class="col-lg-4 col-md-12 text-center py-2">
                    <h1>151180</h1>
                    <h3>فنى وشركة محترفة</h3>
                </div>
            </div>
        </div>
    </div>
</section>