<!--Section One -->

<section id="about" class="mt-5 pt-5">
  <div class="container mt-5 pt-5">
      <div class="row">


          <div class="col-lg-6 about-img">
              <img src="assets/Images/Sections/section1-vector.png" class="img-fluid shadow">
          </div>

          <div class="col-lg-6 about-content">
              <h3>عن الموقع</h3>
              <ul>
                  <li>الموقع مخصص للخدمات، نسمح للبعض بتوفير الوقت وتبسيط حياتهم والبعض الآخر بتطوير نشاط خدمي لتحقيق
                      دخل إضافي أو دخل كامل.</li>
                  <li>بإمكانك نشر طلب الخدمة الخاص بك في بضع نقرات. تتلقى عروضًا من زبائن بالقرب منك في غضون دقائق
                      قليلة. يتم التحقق من جميع الملفات الشخصية للحرفين والحصول على المراجعات من الأعضاء ، ولكن إذا لم
                      يكن الأمر كذلك ، يمكنك تغيير المزود ببضع نقرات ومجانًا. التواصل يكون بين الزبون و العامل مباشرة
                  </li>

              </ul>

              <div class="d-flex justify-content-around align-items-center my-5 text-center">
                  <div>
                      <strong>71</strong>
                      <p class="py-4">زوار الموقع</p>
                  </div>
                  <div>
                      <strong>+570</strong>
                      <p class="py-4">عدد المنخرطين</p>
                  </div>

              </div>
          </div>


      </div>
  </div>

</section>

<!-- End section one  -->


<!-- start section 2 -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#f2f2f2" fill-opacity="1"
      d="M0,192L48,208C96,224,192,256,288,266.7C384,277,480,267,576,245.3C672,224,768,192,864,170.7C960,149,1056,139,1152,133.3C1248,128,1344,128,1392,128L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
  </path>
</svg>
<section id="about" class="statistics p-5">
  <div class="container">
      <div class="row">

          <div class="col-lg-6 about-content">
              <h3> إحصاءات</h3>
              <p>تمثل القوى العاملة حوالي نصف إجمالي عدد السكان (49,5% عام 2010، و 50,7% عام 2008، و 51% عام
                  2001) ونفس النسبة تقريباً بالنسبة إلى عدد السكان الذين هم في سن العمل (51,5% عام 2010، و 53%
                  عامي 2008 و 2001). عام 2008، السنة الأخيرة التي تتوفر فيها إحصائيات كاملة، بلغت نسبة العمال
                  الذين يتقاضون أجراً 41,5% تقريباً من إجمالي عدد السكان، يليهم أصحاب الأعمال الخاصة (حوالي 56%)
                  وأرباب العمل 2,5%. وهناك نسبة كبيرة من العمال الذين لا يتقاضون أجراً (في الشركات العائلية) .تقدر
                  نسبة البطالة بـ 10% من إجمالي القوى العاملة، والنسبة ذاتها للنساء والرجال، مع أن الإحصائيات
                  المتعلقة بالاقتصاد غير الرسمي والمناطق الريفية غير دقيقة. </p>
          </div>

          <div class="col-lg-6 about-img">
              <img src="assets/Images/Sections/statistes3.jpg" class="img-fluid shadow">
          </div>


      </div>
  </div>

</section>