/* ========================================start about section =================================== */
#about{
    background-image: url("../../../../assets/Images/Sections/blutted-img.jpg")  ;
    background-position: bottom top ;
    background-size: 30% ;
    background-repeat: no-repeat;
    margin-left: 5rem;
}

#about .about-content ul{
    margin: 0 20px;
     padding: 0; 
     direction:rtl !important;
     
     
}
#about .about-content h3{
    padding: 2rem 5rem;
    font-size: 1.5rem;
    font-weight: bolder;
    position: relative;
    color: #E58901;
}
#about .about-content h3::before {
    content: "";
    position: absolute;
    background-color: rgb(229, 137, 1);
    bottom: 30%;
    width: 13%;
    height: 2px;
}
#about .about-content ul li{

	padding: 1rem 4rem;
	list-style: none;
	background-image: url('../../../../assets/Images/Sections/blutted-img2.jpg');
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 40px;
    direction:rtl; 
    margin:1rem;
    line-height: 1.4rem;
    font-size: 1.1rem;
    font-weight: 100;
    color: #581000;
}
#about .about-content strong{
    font-size: 3rem;
    color: #E58901;
    font-weight: 600;
    /* line-height: -0.2rem; */


}
#about .about-content p{
    font-size: 1.1rem;
    font-weight: 100;
    color: #581000;

}

/* ==========================================statistics section======================================= */
.statistics{
    background-color: #f2f2f2;
    background-image: url("../../../../assets/Images/Sections/blutted-img.jpg")  ;
    background-position: bottom right ;
    background-size: 50%;
    background-repeat: no-repeat;
}

.statistics .about-content p{
    font-size: 15px;
    font-weight: 100;
    line-height: 2rem;
    font-family: 'Cairo', sans-serif;
    padding: 2rem 5rem;
}
