<!--Section One -->

<section id="about" class="mt-5 pt-5">
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-lg-6 about-img">
        <img
          src="assets/Images/Sections/section1-vector.png"
          class="img-fluid shadow"
        />
      </div>

      <div class="col-lg-6 about-content" dir="auto">
        <h3>{{"عن الموقع"|translate}}</h3>
        <ul>
          <li>
            {{
              "الموقع مخصص للخدمات، نسمح للبعض بتوفير الوقت وتبسيط حياتهم والبعض الآخر بتطوير نشاط خدمي لتحقيق دخل إضافي أو دخل كامل"
                | translate
            }}
          </li>
          <li>{{ "بامكانك" | translate }}</li>
        </ul>

        <div
          class="d-flex justify-content-around align-items-center my-5 text-center"
        >
          <div>
            <strong>71</strong>
            <p class="py-4">{{ "زوار الموقع" | translate }}</p>
          </div>
          <div>
            <strong>+570</strong>
            <p class="py-4">{{ "عدد المنخرطين" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End section one  -->

<!-- start section 2 -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path
    fill="#f2f2f2"
    fill-opacity="1"
    d="M0,192L48,208C96,224,192,256,288,266.7C384,277,480,267,576,245.3C672,224,768,192,864,170.7C960,149,1056,139,1152,133.3C1248,128,1344,128,1392,128L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
  ></path>
</svg>
<section id="about" class="statistics p-5 ms-0" dir="auto">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 about-content">
        <h3>{{"إحصاءات"|translate}}</h3>
        <p>{{ "احصاء سكشن" | translate }}</p>
      </div>

      <div class="col-lg-6 about-img">
        <img
          src="assets/Images/Sections/statistes3.jpg"
          class="img-fluid shadow"
        />
      </div>
    </div>
  </div>
</section>
