.header {
  background-image: url("../../../assets/Images/Services-Header/header-clean-bg.jpg");
  background-size: cover;
  height: 100vh;
  background-position: top center;
}
.header-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;

  /* background-color: aquamarine; */
}
.header-body h1{
  font-size: 5rem;
  font-weight: bolder;
  font-family: 'Cairo', sans-serif;
}

.elementor-shape-bottom{
	transform: rotate(180deg);
}
.elementor-shape-bottom {
	bottom: -20%;
}
.elementor-shape {
	/* overflow: hidden; */
	position: absolute;
	left: 0;
	width: 100%;
	line-height: 0;
}
.elementor-shape .elementor-shape-fill {
	fill: #fff;
}
