 <div class="popular-slider">
  <owl-carousel-o [options]="customOptions" >
    <ng-template carouselSlide *ngFor="let item of mostPopularService">
        <div class="box-wrapper shadow">
          <div class="layout-parent">
            <img [src]="item.Image" alt="rhcp" />
            <div class="layout"></div>
          </div>
          <div class="box-content">
              <a class="buy" href="javascript:void(0)"><span><i class="fa-solid fa-star"></i></span></a>
              <div class="title">{{item.Name}}</div>
              <div class="desc">اي هري يحرق ميتنكم</div>
              <span class="profiles"> المهنين<span >:{{item.Providers}}</span>
              <i class="fa-solid fa-user p-1"></i> </span> 
        
              <button class="button m-auto my-5">
                احصل علي عروض الأسعار
                <div class="button__horizontal"></div>
                <div class="button__vertical"></div>
              </button>
          </div>
        </div> 
    </ng-template>  
  </owl-carousel-o>
</div>

