<div class="container my-5 text-center ">

  <div class="row my-5">

    <h4 class="my-3">The Offer</h4>
    <div class="input-group input-group-icon">
      <input type="text" placeholder="Price" />
      <div class="input-icon">
        <i class="fas fa-money-bill "></i>
      </div>
    </div>

    <div class="input-group input-group-icon">
      <input type="text" placeholder="Phone" />
      <div class="input-icon">
        <i class="fa fa-phone" aria-hidden="true"></i>
      </div>
    </div>


    <div class="input-group input-group-icon">
      <input type="text" placeholder="Date" />
      <div class="input-icon">
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </div>
    </div>

    <div class="input-group input-group-icon about-inputs">
      <textarea class="form-control" type="text" placeholder="Massage"> </textarea>
    </div>

    <div class="mt-3 gap-2 d-flex justify-content-center">
      <button class="px-3 btn btn-sm btn-outline-warning">Cancel</button>
      <button class="px-3 btn btn-sm btn-warning text-white">Send</button>
    </div>

  </div>