<section class="p-5" dir="auto">
  <div class="container px-5 align-items-center">
    <div class="row justify-content-center py-4">
      <div class="col-lg-7 text-center">
        <h1 class="info-header mb-5 fw-bold">
          {{ "أطلب بسهولة وأمان" | translate }}
        </h1>
      </div>
    </div>
    <div class="row px-5 box-container py-3">
      <div class="col-lg-3 col-md-6 text-center px-5">
        <h1 class="fw-bold">
          <i class="fa-solid fa-calendar-days"></i>
        </h1>
        <h3>{{ "إسترح" | translate }}</h3>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <h1 class="fw-bold">
          <i class="fa-solid fa-calendar-days"></i>
        </h1>
        <h3>{{ "تنفيذ الخدمة" | translate }}</h3>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <h1 class="fw-bold">
          <i class="fa-solid fa-calendar-days"></i>
        </h1>
        <h3>{{ "حدد وأكد الميعاد" | translate }}</h3>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <h1 class="fw-bold">
          <i class="fa-solid fa-calendar-days"></i>
        </h1>
        <h3>{{"إختر الخدمة"|translate}}</h3>
      </div>
    </div>
  </div>
</section>

<section class="info" dir="auto">
  <div class="shadow">
    <div class="container py-5 text-white">
      <div class="row justify-content-center">
        <div class="col-lg-7 text-center py-4">
          <h1 class="info-header fw-bold">{{"أكبر سوق للخدمات تثق فيه"|translate}}</h1>
        </div>
      </div>
      <div class="row py-5">
        <div class="col-lg-4 col-md-12 text-center pt-2">
          <h1>4456</h1>
          <h3>{{"تحميل التطبيق"|translate}}</h3>
        </div>
        <div class="col-lg-4 col-md-12 text-center pt-2">
          <h1>4526</h1>
          <h3>{{"عملاء سعداء"|translate}}</h3>
        </div>
        <div class="col-lg-4 col-md-12 text-center pt-2">
          <h1>150</h1>
          <h3>{{"فنى وشركة محترفة"|translate}}</h3>
        </div>
      </div>
    </div>
  </div>
</section>




