
.info {
    background-image: url('../../../../assets/Images/Sections/statistes3.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.shadow{
    background-color: #202020;
    opacity: 0.5;
}
.info-header{
    font-size: 3rem;
    font-weight: bold;
}