<header>
    <!--Section: Design Block-->
    <section>
      <div id="intro" class="headerBackground">
        <div class="mask">
          <div class="container d-flex justify-content-center align-items-center h-100">
            <div class="row align-items-center">
              <div class="col-12">
                <h1 class="mb-0 text-white display-1">نجار</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Section: Design Block-->
  </header>
  <section>

    <div class="p-5">
        مرحبا بك إدا لم تكن مسجل في الموقع قم 
        <a href="#">بالتسجيل</a> لتظهر لك مرشحات البحث، شكرا 
    </div>
  </section>