<nav class="navbar navbar-expand-lg navbar-light bg-light my-nav shadow">
  <!-- My Container -->
  <div class="container">
    <!-- Collapse Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-none showLogo">
      <h1>العنوان</h1>
    </div>

    <div class="icons related-notifications">
      <!-- <a (click)="profileRoute()"> -->
        <i class="fa-regular fa-user text-dark">
        </i>
      <!-- </a> -->
      <i class="fa-solid fa-magnifying-glass language"></i>
      <i class="fa-regular fa-heart"></i>
      <i class="fa-regular fa-bell badge1" data-badge="6" (click)="openNotifications()"></i>
    </div>

<!-- 
    <div *ngIf="openCloseNot" class="notifications-container w-25 border shadow p-3 m-3 bg-white text-right">
      <h3>Notifications</h3>
      <div class="custom-notification-content row border shadow-sm" (click)="RequestDetails()">
        <div class="col-2 bg-warning p-2 align-items-center text-center">
          <i class="fa-regular fa-bell text-white font-weight-boled"></i>
        </div>
        <div class="col-10">

          <p>ahmed mohamed from <small>Gize</small> send you notifcation</p>
          <div class="row">
            <div class="col-12 timer"> 
              <small>
                1 Hour
                <i class="fa-solid fa-clock text-muted"></i>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div> -->


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex flex-column text-center m-auto">
        <div class="logo">
          <h1>العنوان</h1>
        </div>
        <div dir=auto >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                [routerLink]="['']"
                routerLinkActive="active"
                >{{"الصفحة الرئيسية"|translate}}</a
              >
            </li>
            <li>
              <a class="nav-link text-dark" [routerLink]="['Categories']" routerLinkActive="active">{{"خدماتنا"|translate}}</a>
            </li>
            <!-- <ng-template #loggedout> -->
              <li >
                <a class="nav-link text-dark" [routerLink]="['Auth/register']" routerLinkActive="active">{{"إنشاءحساب"|translate}}</a>
              </li>
            <!-- <li *ngIf="isAuthenticated; else loggedout">
              <a class="nav-link text-dark cursor-pointer" (click)="logout()" routerLinkActive="active">تسجيل الخروج
              </a>
            </li> -->
            <ng-template #loggedout>
              <li>
                <a class="nav-link text-dark" [routerLink]="['Auth/register']" routerLinkActive="active">إنشاء حساب</a>
              </li>
              <li>
                <a class="nav-link text-dark" [routerLink]="['Auth/login']" routerLinkActive="active">{{'تسجيل الدخول'| translate}}</a>
              </li>
            </ng-template>
            <li *ngIf="isAuthenticated; else loggedout">
              <a class="nav-link text-dark cursor-pointer" (click)="logout()" routerLinkActive="active">{{"تسجيل الخروج"|translate}}</a>
            </li>

          </ul>
        </div>
      </div>
    </div>

    <div class="language">
      <select #group class="selectpicker" (change)="changLang(group.value)">
        <option value="en" [selected]="lang == 'en'">English</option>
        <option value="ar" [selected]="lang == 'ar'">عربي</option>
      </select>
    </div>
  </div>
</nav>
