<div class="row py-1 my-5 container-fluid">
  <!-- Profile Card -->
  <div class="col-10 mx-auto">
    <div class="bg-white shadow rounded overflow-hidden">


      <!-- profile info part (image / background black / Edit profile) -->
      <div class="px-4 p-5 profile-header">
        <div class="d-flex justify-content-between align-items-center profile-info container">


          <div class="mt-2">
            <span *ngIf="editOption" class="box-pensil" (click)="EditInfo()"><i class="fa fa-pencil"></i></span>
          </div>

          <div>
            <div class="position-relative">
              <img *ngIf="!profile.profilePicture" width="130" class="rounded-circle" src="assets/Images/Profile/Default-Profile-Picture.png">
              <img src={{profile.profilePicture}} width="130" class="rounded-circle">
              <span class="position-absolute dots"></span>
            </div>

            <div class="media-body text-white text-center">
              <h4 class=""> {{profile.name}} </h4>
              <h5 class="small font-weight-bold">{{profile.serviceName}}</h5>
            </div>
          </div>



        </div>
      </div>
      <!-- End profile info part -->




      <!-- Location & Description part -->
      <div class="row bg-light p-5 d-flex justify-content-end text-right">
     
        <div class="col-md-6">
          <p class=" mb-4">
            <i class="fa-solid fa-location-dot text-warning"></i>
            {{profile.location}}
          </p>
          <small class="text-muted font-weight-bold">
            {{profile.sammary}}
          </small>
        </div>

        <div class="col-md-12 container mt-5 " *ngIf="clientOptions">
          <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4 shadow">
            <p class="small mb-0">
              <i class="fa fa-picture-o mr-2"></i>
              <span class="font-weight-bold">أحصل على خدمه الان</span>
            </p>
            <div class="badge bg-danger px-3 rounded-pill font-weight-normal event" (click)="customerRequest()">Now</div>
          </div>
        </div>

      </div>
      <div>


        <!-- end location & Description part -->


        <!-- start all posts part -->
        <div class="py-4 px-4">

          <div class="d-flex align-items-center justify-content-between mb-3 container-fluid">
            <h5 class="mb-0 text-warning font-weight-bold">All Posts</h5>
            <a routerLink="Add-Post" class="btn btn-link text-warning font-weight-bold" *ngIf="editOption">Add Post</a>
          </div>


          <div class="row text-left">

            <div class="col-lg-6 mb-2 pr-lg-1" *ngFor="let item of Posts">
              <div class="bg-white rounded shadow">

                <div [className]="imgOptionClass">
                  <img class="img-fluid" src="https://img.freepik.com/photos-gratuite/mockup-mur-blanc-dans-maison-style-loft-canape-accessoires-dans-rendu-room-3d_41470-3836.jpg?w=826&t=st=1668743246~exp=1668743846~hmac=bc53828f684804e879ea2d58945d1883b9daea5707c556b1ce82d606092f7e38">
                  <div class="post-options p-5 d-flex justify-content-around align-items-center">
                    <i class="fa-solid fa-pen-to-square fa-xl fa-beat" (click)="imgOptions()"></i>
                    <i class="fa-solid fa-trash fa-xl fa-beat" (click)="deletePost(item.id)"></i>
                  </div>
                </div>


                <div class="p-4 ">
                  <p class="small text-muted "> {{item.description}}</p>
                </div>


              </div>
            </div>

            <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}
            </div>
            
          </div>

        </div>
        <!-- end all posts part -->



      </div>
    </div>
  </div>