
<div class="d-flex justify-content-center align-items-center l">
  <div class="container">
    <input type="text" placeholder="Search..." [(ngModel)]="searchText" >
    <div class="search"></div>
  </div>
</div>




<div class="row" >

  <div class="col-md-6 .repeated-item" 
    *ngFor="let item of seleted | filter:searchText | paginate: {id:'my-paginate' , itemsPerPage :3 ,currentPage:active , totalItems:totalNumber}">
    <div class="box-wrapper shadow">
      <div >
        <img src="https://picsum.photos/400/300" alt="rhcp" />
   
      </div>
      <div class="box-content">
      <div class="title">{{item.name}} </div>
        <div class="desc"> خدمات لا تنتهي فقط لأجل</div>
        <span class="profiles"> المهنين<span>:{{item.numberOfProviders}}</span>
          <i class="fa-solid fa-user p-1"></i> </span>

        <button class="button m-auto my-5">
          مزودي الخدمه المتاحين
          <div class="button__horizontal"></div>
          <div class="button__vertical"></div>
        </button>
      </div>
    </div>
  </div>

  <pagination-controls *ngIf="false" class="my-pagination" id="my-paginate" previousLabel='' nextLabel="" (pageChange)="active = $event"></pagination-controls>
</div>

