<section>
    <div class="container">

        <div class="row justify-content-center align-item-center my-5">
            <div class="col-6 text-center header-content my-5">
                <h2 class="my-4">ما الخدمة التي تحتاجها؟</h2>
                <p>لكل خدمة ، ابحث عن الحرفي الذي تلبي مهاراته توقعاتك ومستوى متطلباتك</p>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
            <div class="col-8">
                <div [@routeAnimations]="prepareRoute(outlet)" >
                    <router-outlet #outlet="outlet"></router-outlet>
                </div>
            </div>
            <div class="col-4">
                <app-AllCategories></app-AllCategories>
            </div>
        </div>
    </div>
</section>