

<div class="section-container">
  <div class="testimonial-container">
    <div class="progress-bar"></div>
    <div class="fas fa-quote-right fa-quote"></div>
    <div class="fas fa-quote-left fa-quote"></div>
    <p class="testimonial" dir="auto">
      {{testimonial}}
    </p>
    <div class="user">
      <img
        [src]="userImage"
        alt="user"
        class="user-image"
      />
      <div class="user-details" dir="auto">
        <h4 class="username">{{username}}</h4>
        <div *ngFor="let star of stars" class="d-inline-block m-2">
          <i class="fa-solid fa-star" [ngClass]="{'selected': (star < rate)}"></i>
        </div>
      </div>
    </div>
  </div>
</div>