<div class="container my-5 text-center shadow border ">

  <div class="row my-5">
    <h4 class="my-3">Details</h4>
    <div class="input-group input-group-icon">
      <h5 class="text-warning">Name: <small class="font-weight-bold text-muted">Ahlam Islam</small></h5>
 
    </div>

    <div class="input-group input-group-icon">
      <h5 class="text-warning">Address: <small class="font-weight-bold text-muted">القاهرة</small></h5>
    </div>


    <div class="input-group input-group-icon">
      <h5 class="text-warning">Service Type: <small class="font-weight-bold text-muted"> تصليح</small></h5>
    </div>

    <div class="input-group input-group-icon about-inputs">
      <h5 class="text-warning">Summary: <small class="font-weight-bold text-muted"> عاوزه اصلح الغساله</small></h5>
    </div>

    <div class="mt-3 gap-2 d-flex justify-content-center">
      <button class="px-3 btn btn-sm btn-outline-danger">Rejected</button>
      <button class="px-3 btn btn-sm btn-warning text-white" (click)="sendRequest()">Accepted</button>
  </div>

  </div>


</div>