<div class="accordion" id="accordionPanelsStayOpenExample">

   <div class="accordion-item rounded-0">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
         <button class="accordion-custom border" type="button" data-bs-toggle="collapse"
         data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
         aria-controls="panelsStayOpen-collapseOne">
           <a routerLink="all" routerLinkActive="active">{{"الخدمات"|translate}}</a>  
         </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
         aria-labelledby="panelsStayOpen-headingOne">
         <div class="accordion-body" *ngFor="let categorie of categories">
             <a (click)="routeTo(categorie)">{{categorie}}</a>  
         </div>
      </div>
   </div>


</div>