<h2 class="text-center mt-5 fw-bold">أدخل كلمة سر جديدة</h2>

<div class="d-flex justify-content-center align-items-center container">

  <div class="wave-card pb-2 ">

    <div>
      <div class="wave-card-shape"></div>
      <div class="wave-card-shape"></div>
      <div class="wave-card-shape"></div>
    </div>
    <div *ngIf="isLoading; else notloading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <ng-template #notloading>
      <div class="d-flex justify-content-center form">
        <form (ngSubmit)="onResetPassword()" name="resetPassForm" [formGroup]="resetPassForm">
  
            
          <mat-form-field class="width" appearance="outline">
            <mat-label>password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button type="button" class="password" mat-icon-button matSuffix (click)="hide = !hide"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
  
          <h6 *ngIf="errorMessage != null">{{errorMessage}}</h6>
          <div class="d-flex justify-content-center">
            <button [disabled]="resetPassForm.invalid"  mat-flat-button color="primary">Submit</button>
          </div>
  
          <div class="pt-3 px-2 text-info fw-bold">
            <h5 *ngIf="successMessage != null" class="resetPass">{{successMessage}} 
              <br>
              <a class="cursor-pointer mt-1" (click) = "LoginRedirect()" >Go To Login</a></h5>
          </div>
        
        </form>
      </div>
  
    </ng-template>
  

  </div>
</div>