<h2 class="text-center mt-5 fw-bold">{{"تعديل كلمة السر"|translate}}</h2>


<div class="d-flex justify-content-center align-items-center container" >

  <div class="wave-card pb-2 ">

    <div>
      <div class="wave-card-shape"></div>
      <div class="wave-card-shape"></div>
      <div class="wave-card-shape"></div>
    </div>
    <div *ngIf="isLoading; else notloading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <ng-template #notloading>
      <div class="d-flex justify-content-center form">
        <form (ngSubmit)="onForgetPass()" name="forgetPassForm" [formGroup]="forgetPassForm">
  
          <mat-form-field class="width" appearance="outline">
            <mat-label>{{"البريد الإلكتروني"|translate}}</mat-label>
            <input matInput required placeholder="pat@example.com" formControlName="email">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
  
          <h6 *ngIf="errorMessage != null">{{errorMessage}}</h6>
          <div class="d-flex justify-content-center">
            <button [disabled]="forgetPassForm.invalid"  mat-flat-button color="primary">{{"إرسال"|translate}}</button>
          </div>
  
          <div class="pt-3 px-2 text-info fw-bold">
            <h5 class="resetPass">{{successMessage}}</h5>
          </div>
        
        </form>
      </div>
    </ng-template>
    


  </div>
</div>