
.container {
  margin-top: 1.2rem;
  text-align: center !important;
}

.parent {
  padding-bottom: 1rem;
}

.wave-card {
  width: 400px;
  height: 600px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 11px 17px 48px #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
}

.wave-card-shape {
  position: absolute;
  width: 400px;
  height: 500px;
  z-index: 1;
  opacity: 0.6;
  top: -250px;
  left: -100px;
  border-radius: 150px;
  background: var(--primary);
  animation: rotate 30s linear infinite;
}

.wave-card-shape:nth-child(1) {
  top: -245px;
  left: -98px;
  opacity: 0.4;
  z-index: 2;
  animation: rotate 25s linear infinite;
}

.wave-card-shape:nth-child(2) {
  top: -240px;
  opacity: 0.3;
  z-index: 3;
  animation: rotate 32s linear infinite;
}

/*  Card Animation */
@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(2turn);
  }
}



/* ========================= Form ======================== */
.form {
  transform: translateY(120px)
}

.width {
  width: 350px;
}

.mat-form-field-label {
  color: var(--secondary) !important;
}

/* setting material input fields colors  */
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: var(--secondary) !important;
}

/* default and hover color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--secondary);
}

/* focused color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #b47f1c;
}

/* floating label color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: #b47f1c;
}


.password {
  border: none;
  background-color: transparent !important
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: var(--primary);
}

.mat-icon {
  color: var(--secondary);
}

.mat-flat-button {
  width: 150px;
  padding: .3rem 0rem;
  font-size: 1.2rem;
  font-weight: bold
}

h6 {
  text-align: center !important;
  color:red;
  font-weight: bold
}

button:disabled,
button[disabled]{
  color: #fff !important;
  opacity: .7;
  background-color: var(--primary);

}