@media (max-width: 991px) {
    .navbar-scroll {
      background-color: #fff;
    }
       
    .navbar-scroll .navbar-brand,
    .navbar-scroll .nav-link,
    .navbar-scroll .fa-bars {
      color: #4f4f4f !important;
    }         
  }
  
  .navbar-brand {
    letter-spacing: 3px;
    font-size: 2rem;
    font-weight: 500;
  }
  .navbar-scroll .navbar-brand,
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color: #fff;
  }
  
  .navbar-scroll {
    box-shadow: none;
  }
  
  .navbar-scrolled {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  }
  
  .navbar-scrolled .navbar-brand,
  .navbar-scrolled .nav-link,
  .navbar-scrolled .fa-bars {
    color: #4f4f4f;
  }
  
  .navbar-scrolled {
    background-color: #fff;
  }
  