<footer class="text-lg-start bg-white text-muted">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
    <defs>
      <linearGradient id="grad2" x1="0%" y1="0%" x2="100%" y2="0%">
        <stop offset="0%" style="stop-color:#E58901;stop-opacity:1" />
        <stop offset="100%" style="stop-color:#BC6800;stop-opacity:1" />
      </linearGradient>
    </defs>
    <path fill="url(#grad2)" fill-opacity="1"
      d="M0,96L120,117.3C240,139,480,181,720,181.3C960,181,1200,139,1320,117.3L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
    </path>
  </svg> <!-- Section: Links  -->
  <section class="text-white"
    style="background-image: linear-gradient(to right, #e58901, #db8101, #d17801, #c67000, #bc6800);">
    <div class="container-fluid text-center text-md-start">
      <!-- Grid row -->
      <div class="row px-5">

        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-4 fs-6">
          <!-- Links -->
          <p>
            معلومات مفيدة
          </p>
          <p class="fw-light">
            <a href="mailto:info@tafeel.com" class="footer_more_inf" style="color: #fff;text-decoration: none;">Email:
              info@tafeel.com</a>
          </p>
          <p class="fs-6">:المركز الرئيسى</p>
          <p class="fw-light">
            الرياض - حي العليا - شارع العرفج
            <i class='fa-solid fa-location-dot'></i>
          </p>
          <p class="fw-light">
            الرياض - حي العليا - شارع العرفج
            <i class='fa-solid fa-location-dot'></i>
          </p>
          <div class="d-flex flex-row-reverse">
            <div class="d-flex icon-foo-div">
              <div class="afooter">
                <a href="" class="text-reset">
                  <i class='fab fa-facebook-f' style='color: white'></i>
                </a>
              </div>
              <div class="afooter">
                <a href="" class="me-5 text-reset ">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
              <div class="afooter">
                <a href="" class=" me-5 text-reset">
                  <i class="fab fa-google"></i>
                </a>
              </div>
  
              <div class="afooter">
                <a href="" class="text-reset me-5">
                  <i class="fab fa-linkedin"></i>
                </a>
              </div>
              
            </div>
          </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-4">
          <!-- Links -->
          <p>
            <a href="#!" class="text-reset">سياسة الموقع</a>
          </p>
          <p>
            <a href="#!" class="text-reset">سياسة الخصوصية</a>
          </p>
          <p>
            <a href="#!" class="text-reset">شروط الاستخدام</a>
          </p>
          <p>
            <a href="#!" class="text-reset">عن الموقع</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 mb-4 px-5">
          <!-- Content -->
          <h1 class="text-uppercase fw-bold mb-4">
            خدمة
            <i class="fas fa-gem me-3"></i>
          </h1>
          <p class="fs-6">
            بصفتنا خبراء في خدمات تكنولوجيا المعلومات ، نقدم مجموعة مُحسَّنة من البرامج والتكامل والخدمات السحابية لمساعدتك في تحقيق أهدافك الأكثر طموحًا. نحن فخورون بالاستثمار لتوفير أدوات إبداعية ومتخصصين ذوي معرفة عالية لمساعدتك في كل خطوة من خطوات مشاريعك.
          </p>
        </div>
        <!-- Grid column -->


      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="Copyright px-6 p-4 px-5 text-white "
    style="background-image: linear-gradient(to right, #e58901, #db8101, #d17801, #c67000, #bc6800);">
    <small class="px-5">
      © 2022 خدمتك- جميع الحقوق محفوظة
    </small>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->