
<!-- Start of Header Section -->
<header>
  <div id="carouselExampleFade" class="carousel carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">

        <!-- Start of slider 1 content -->
        <div class="Slider1 ">
          <div class="div1 divs-shared">
            <img src="assets/Images/Header/Header1.webp" class="image-fluid w-100 h-100">
            <div dir=auto class="div-on-imgheader">
              <h3>عروض رائعه</h3>
              <h2>قد تصل إلي %50</h2>
            </div>
          </div>
          <div class="div2 divs-shared">
            <img src="assets/Images/Header/Header2.webp" class="image-fluid w-100 h-100">
            <div class="div-on-imgheader">
              <h2>معدات حديثه</h2>
            </div>
          </div>
          <div class="div3 divs-shared">
            <img src="assets/Images/Header/Header3.webp" class="image-fluid w-100 h-100 ">
            <div class="div-on-imgheader">
              <h2>أدوات كاملة</h2>
            </div>
          </div>
          <div class="div4 divs-shared">
            <img src="assets/Images/Header/Header4.webp" class="image-fluid w-100 h-100">
            <div class="div-on-imgheader">
              <h3 dir=auto>عروض رائعه</h3>
              <h2>قد تصل إلي %50</h2>
            </div>
          </div>
        </div>

          <!-- End of slider 1 content -->
      </div>
      <div class="carousel-item" data-bs-interval="2000">

          <!-- Start of slider 2 content -->
        <div class="Slider2">
          <div class="row p-5 align-items-center">
            <div class="col-6 slider2-leftImg">
              <img src="assets/Images/Header/slider2-header2.webp" class="image-fluid w-100 h-100">
            </div>
            <div class="col-6 justify-content-center slider2-rightContent">
              <div class="on-image py-5">
                <h3 class="my-5">فقط أسترخي</h3>
                <h1>وكل ما تحتاجه سيتم فى لمح البصر</h1>
              </div>

              <div class="d-flex justify-content-around ">
                <button class="button">
                  معرفة المزيد
                  <div class="button__horizontal"></div>
                  <div class="button__vertical"></div>
                </button>
                <button class="button">
                  تسجيل الدخول
                  <div class="button__horizontal"></div>
                  <div class="button__vertical"></div>
                </button>
              </div>

            </div>

          </div>
        </div>

          <!-- End of slider 2 content -->

      </div>

    </div>

    <!-- arrows tags -->
    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon custom-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon custom-icon custom-icon2" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


</header>
<!-- End of Header Section -->