<section>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3">
      <div class="card col-lg-3 col-md-4 mx-2" *ngFor="let item of providers">
        <div class="imagem">
          <img class="img" src="{{ item.pic }}" />
        </div>
        <div>
          <h5 class="card-title">{{ item.name }}</h5>
        </div>
        <ul class="list-group list-group-light list-group-small text-start">
          <li class="list-group-item px-4">{{item.servicesName}}</li>
          <li class="list-group-item px-4">
            1 &ensp; <i class="fa-solid fa-star"></i>
          </li>
        </ul>
        <div class="button">
          <button type="buttom" class="btn">
            <a href="#"> Saiba mais </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
